.receipto{
    /* display: none; */
}

.receipto__header > h2{
    text-align: center;
    color: teal;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.receipto__header > h5{
    text-align: center;
    color: rgb(47, 59, 59);
    text-transform: uppercase;
    letter-spacing: 2px;
}

tr{
    margin-bottom: 20px !important;
}
table{
    width: 70%;
    margin: 15%;
}

.paid{
    width: 60%;
    border: 3px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: teal;
    margin: 0 20%;
    margin-bottom: 40px;
    font-weight: bold;
}
