.payment__main_div {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
}

.payment__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: white;
  margin-bottom: 30px;
}

.payment__header > h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.main___did{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 35px;
  width: fit-content;
  max-width: 500px;
}

.checkout__header {
  background-color: teal;
  height: 35vh;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/card.jpg");
  background-position: center;
  background-size: cover;
}

.checkout__header > h3 {
  max-width: 500px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}


.checkout__body{
    background-color: white;
    padding: 20px;
    height: 35vh;
    width: 100%;
}


@media screen and (max-length: 400px) {
  .payment__header > h3 {
    font-size: 0.9rem;
  }
}